/* Site Colors:
    #1A446C - blue grey
    #689DC1 - light blue
    #D4E6F4 - very light blue
    #EEE4B9 - light tan
    #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; margin:0;
   padding:0;
}
body { width: 100%; height: 100%; margin: 0; padding: 0px; border: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif; background: #D4E6F4;
    font-size: 13px; line-height: 15px; position: relative;}
img { border: none; }
table, tr, td { border-collapse: separate; vertical-align: top; font-size: 13px; line-height: 15px;}
a { color: #1A446C;}
label { display: block; width: 4em; float: left; }

#bg {


background-image: -webkit-linear-gradient(#4A7FA3, #D4E6F4 50%);

background-image: -moz-linear-gradient(#4A7FA3, #D4E6F4);

background-image: -o-linear-gradient(#4A7FA3, #D4E6F4);

}

#header { height: 100px; margin: 0px; padding: 0px; text-align: left; 
    background: -webkit-linear-gradient(#1D3241, #4A7FA3 50%);
   background: -moz-linear-gradient(#4A7FA3, #D4E6F4);
   background: -o-linear-gradient(#4A7FA3, #D4E6F4); color: #1A446C; 
    width: 100%; 
}

#header h1 { padding: 1em; margin: 0px;}
#header img { float: left;}
#header a { float: right; font-size: 20px; }
#main { margin: 0px; padding: 0px; height: 600px; width: 100%; background: #EEE4B9; }
#structure { height: 600px; width: 100%; }
#footer { height: 1em; margin: 0px; padding: 1em; text-align: center; 
    background: -webkit-linear-gradient(#D4E6F4, white 50%);
   background: -moz-linear-gradient(black, white);
   background: -o-linear-gradient(black, white); color: #1A446C; ;  color: #1A446C; position: fixed;
    bottom: 0; width: 100%
}
#footer img { float: left;}
ul#list-nav { list-style:none; margin:0px; 
            padding:0; width:100%; 
}

ul#list-nav li {
  display:inline;
}

ul#list-nav li a { text-decoration:none; padding:5px 0; width: 199px; background:#1A446C;
  color:#689DC1; float:left; text-align:center; border-left:1px solid #fff;
}

ul#list-nav li a:hover { background:#a2b3a1; color:#000; }

 #global {
    margin: 0 auto; 
    width: 800px; 
}
#conteudo {
    display:inline;
    float:left; 
    width:560px;
}